#navbar{
    max-width: 80%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-lista {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.nav-item li, a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.nav-item li, a:hover {
    color: blue;
}

.nav-login img{
    max-width: 50px;
}

.nav-image img{
    height: auto;
    max-width: 200px;
}

.image-logos img{
    background-color: black;
}

.images-carrossel {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.images-carrossel img {
    max-width: auto;
    height: 300px;
    display: none; 
}

.next-page{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-next{  
    border: none;
    background-color: white;
    cursor: pointer;
}

.btn-next img{
    max-width: 30px;
}

.secao-piloto{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-descricao input{
    height: 100px;
}

.titulo-construa h1{
    font-size: 60px;
}

.form-contato h1{
    font-size: 40px;
}

.imagem-fundo img{
    max-width: 80%;
}

.secao-formulario{
    align-items: center;
    justify-content: center;
    text-align: center;
}